@model CartLine

<div class="row">
  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
    <!-- Image -->
    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
      <img src="@ImageHelper.GetPathByByteArray(Model.Product.Image)"
           style="max-width: 150px; max-height: 150px;" alt="product" />
    </div>
    <!-- Image -->
  </div>
  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
    <h4>@Model.Product.Name</h4>
    <form asp-action="RemoveFromCart" method="post">
      <input type="hidden" name="Id"
             value="@Model.Product.Id"/>
      <button type="submit" class="btn btn-danger text-white btn-sm me-1 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
      </button>
    </form>
    <!-- Data -->
  </div>

  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <div class="form-outline">
                    <input id="form1" min="0" disabled name="quantity" value="@Model.Count" type="number" class="form-control"/>
                    <label class="form-label" for="form1">Количество</label>
                  </div>
                </div>
                <!-- Quantity -->
                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>1 ед. товара - @Model.Product.Price.ToString("C0")</strong>
                </p>
                <p class="text-start text-md-center">
                  <strong>Подитог - @Model.Total.ToString("C0")</strong>
                </p>
                <!-- Price -->
              </div>
            </div>

