@model Product

<div class="col mb-4">
    <div class="card mx-auto h-100 shadow ">
        <img src="@ImageHelper.GetPathByByteArray(Model.Image)" class="card-img-top mx-auto" alt="..." style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
            <h5 class="card-title text-black">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Price.ToString("C0")</p>
        </div>
        <form id="@Model.Id" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
            <div class="card-footer">
                @if (@Model.Stock == Stock.InStock)
                {
                    <button asp-controller="Cart" asp-action="AddToCart" class="btn btn-danger text-white my-auto">В корзину</button>
                }
                else
                {
                    <a href="#" class="btn btn-danger disabled text-white">Нет в наличии</a>
                }
            </div>
        </form>
    </div>
</div>
