@model Product

<div class="col mb-4">
    <div class="card mx-auto h-100 shadow ">
        <img src="@ImageHelper.GetPathByByteArray(Model.Image)" class="card-img-top mx-auto" alt="..." style="max-width: 150px; max-height: 150px;">
        <div class="card-body">
            <h5 class="card-title text-black">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Price.ToString("C0")</p>
        </div>
        <div class="card-footer">
               @if (@Model.Stock == Stock.InStock)
               {
                    <a href="#" class="btn btn-danger text-white my-auto">В корзину</a>
               }
               else
                {
                    <a href="#" class="btn btn-danger disabled text-white">Нет в наличии</a>
                }
        </div>
    </div>
</div>
